Source: ros-jade-pepper-gazebo-plugin
Section: misc
Priority: extra
Maintainer: Natalia Lyubova <natalia.lyubova@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-gazebo-ros, ros-jade-pepper-description
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pepper-gazebo-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-gazebo-plugins, ros-jade-gazebo-ros, ros-jade-gazebo-ros-control, ros-jade-pepper-control, ros-jade-pepper-description, ros-jade-ros-control, ros-jade-ros-controllers
Description: Gazebo plugin for Pepper robot
